body {
  background: rgb(250, 129, 150);
}
.container {
  background: #fff;
  border: 1px solid #ccc;
  padding: 0 1rem 1rem 1rem;
  color: #333;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
  text-align: left;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

article {
}

header {
  height: fit-content;
}

.birtdayBlock {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 5px 20px;
  align-content: stretch;
  justify-items: start;
  margin: 20px 0;
}

.thePic {
  width: 75px;
  height: 75px;
  object-fit: cover;
  grid-row: 1 / 3;
  border-radius: 50%;
}

.theName {
  text-transform: capitalize;
  align-self: end;
  font-weight: bold;
}

.theAge {
  color: rgba(0, 0, 0, 0.5);
  align-self: start;
}

.btn {
  background: rgb(250, 129, 150);
  color: #fff;
  text-align: center;
  padding: 10px;
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  border: none;
}
