body {
  background-color: blueviolet;
}

main {
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px #333;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article {
  display: grid;
  grid-template-columns: 20% auto 30%;
  gap: 20px 10px;
  padding: 10px 0;
}

section {
  margin: 20px 0;
}

.personPic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid silver;
  object-fit: cover;
}

.personDetails {
  align-self: center;
}

.personName {
  font-weight: 700;
}

.personAge {
  color: rgba(0, 0, 0, 0.6);
}

.removePerson {
  align-self: center;
  justify-items: end;
}

.btn {
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  background: palevioletred;
  border-radius: 5px;
  border: none;
  height: fit-content;
  cursor: pointer;
}
